@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-cols-30 {
    grid-template-columns: 190px repeat(30, minmax(100px, 1fr));
}
    
.grid-cols-31 {
    grid-template-columns: 190px repeat(31, minmax(100px, 1fr));

}.grid-template-cols-28 {
    grid-template-columns: 190px repeat(28, minmax(100px, 1fr));

}.grid-cols-29 {
    grid-template-columns: 190px repeat(29, minmax(100px, 1fr));

}